@font-face {
    font-family: Monofur;
    src: url("/static/assets/monofur.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

.toolbar {
    box-shadow: 0 0 5px #0006;
    font-family: Monofur;
    font-size: 25px;
    padding: 10px;
}
