{% extends "base.html.jinja" %}
{% block title %}Home{% endblock %}
{% block style %}style{% endblock %}
{% block path %}main{% endblock %}
{% block body %}
<div class="toolbar">
    <span class="toolbar__title">Main</span>
    
</div>
<div class="main"></div>
{% endblock %}
