{% extends "base.html.jinja" %}
{% block title %}Login{% endblock %}
{% block style %}login{% endblock %}
{% block path %}login{% endblock %}
{% block body %}
<div id="body">
    <form action="/login" method="post">
        <header>Flask-Panel</header>
        <p>Login to your account.</p>
        <div class="input">
            <input id="user" placeholder="." class="input__value" name="user" type="text"/>
            <span class="input__placeholder">Username</span>
        </div>
        <div class="input">
            <input class="input__value" placeholder="." id="pass" name="pass" type="password" minlength="8"/>
            <span class="input__placeholder">Password</span>
        </div>
        <label>
            <input type="checkbox" name="remember"/>
            Remember me
        </label>
        <input type="submit" value="Log in"/>
    </form>
</div>
	{% for message in get_flashed_messages() %}
	<script>alert("{{message}}")</script>
	{% endfor %}
{% endblock %}
